
{% set binddns_lookup = salt['grains.filter_by']({
    'EC2': {
        'internal_ip': 'ec2_internal_ip',
        'external_ip': 'ec2_external_ip',
    },
    'OpenStack Foundation': {
        'internal_ip': 'os_internal_ip',
        'external_ip': 'os_external_ip',
    },
    'Google': {
        'internal_ip': 'gce_internal_ip',
        'external_ip': 'gce_external_ip',
    },
}, default="EC2", grain='manufacturer') %}

